@{
  ViewData["Title"] = "Home Page";
}
@model HomeViewModel

<div class="text-center">
  <h1 class="display-4">Welcome</h1>
  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
  <table class="table table-striped table-bordered table-hover" id="data-table">
    <thead>
      <tr>
        <th>MyData</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var r in Model.MyDataList)
      {
        <tr>
          <td>@r.PartitionKey</td>
          <td>@r.RowKey</td>
        </tr>
      }
    </tbody>
  </table>
}